.logo
    text-decoration: none !important
    text-transform: none
    font-weight: bold
    font-size: px2rem(30)

.accueil-bis
    img
        max-width: 30px !important
        height: auto
        border: 1px solid #FFF
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20)
    img:hover
        -ms-transform: scale(15) /* IE 9 */
        -webkit-transform: scale(1.5) /* Safari 3-8 */
        transform: scale(15)
        height: auto
        transition: 0.1s ease-out 50ms
        border: none
    figure
        height: 0
        align-self: center
    li
        display: block
        flex-direction: row
        grid-gap: px2rem(12) !important
    h3
        font-size: px2rem(22)
        font-weight: normal
    .block-features
        height: 100vh
        ul
            display: flex !important
            flex-direction: column
            grid-gap: px2rem(4) !important
    .blocks
        display: flex
        flex-direction: row
        align-self: center
    .block
        margin-top: 0